This script builds, trains, and evaluates a nueral network surrogate model to predict the deflection of a beam based on the generated dataset.

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import time

In [9]:
# --- 1. Load Data ---
print("Loadind dataset...")
df = pd.read_csv(r"C:\Users\pasch\OneDrive\PortalFrameAnalysis\beam_deflection_dataset.csv")
print("Dataset loaded successfully.")
print("\nDataset Info:")
df.info()
print("\nFirst 5 rows of the dataset:")
print(df.info())

Loadind dataset...
Dataset loaded successfully.

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   k0        2000 non-null   float64
 1   k1        2000 non-null   float64
 2   damping   2000 non-null   float64
 3   velocity  2000 non-null   float64
 4   w_max     2000 non-null   float64
dtypes: float64(5)
memory usage: 78.3 KB

First 5 rows of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   k0        2000 non-null   float64
 1   k1        2000 non-null   float64
 2   damping   2000 non-null   float64
 3   velocity  2000 non-null   float64
 4   w_max     2000 non-null   float64
dtypes: float64(5)
memory usage: 78.3 KB
None

In [6]:
df

                k0             k1   damping   velocity     w_max
0     1.073641e+08  148746.025235  0.020847  20.553105  0.000084
1     2.277191e+07   84102.166772  0.065196  25.656706  0.000268
2     9.175781e+07   31225.232905  0.171639  29.383616  0.000095
3     3.972292e+07  107823.087179  0.047984  62.910787  0.000183
4     1.901094e+07  157633.258648  0.018515  72.599706  0.000309
...            ...            ...       ...        ...       ...
1995  1.340495e+08   68238.118267  0.081144  71.546504  0.000073
1996  7.674841e+07  118055.199765  0.024334  48.119528  0.000110
1997  1.322220e+07  153852.980762  0.080516  60.188139  0.000402
1998  1.885010e+08   69389.389191  0.194409  10.906861  0.000055
1999  1.941723e+08   66850.480956  0.152075  18.918527  0.000054

[2000 rows x 5 columns]

In [7]:
df.head()

             k0             k1   damping   velocity     w_max
0  1.073641e+08  148746.025235  0.020847  20.553105  0.000084
1  2.277191e+07   84102.166772  0.065196  25.656706  0.000268
2  9.175781e+07   31225.232905  0.171639  29.383616  0.000095
3  3.972292e+07  107823.087179  0.047984  62.910787  0.000183
4  1.901094e+07  157633.258648  0.018515  72.599706  0.000309

In [8]:
df.tail()

                k0             k1   damping   velocity     w_max
1995  1.340495e+08   68238.118267  0.081144  71.546504  0.000073
1996  7.674841e+07  118055.199765  0.024334  48.119528  0.000110
1997  1.322220e+07  153852.980762  0.080516  60.188139  0.000402
1998  1.885010e+08   69389.389191  0.194409  10.906861  0.000055
1999  1.941723e+08   66850.480956  0.152075  18.918527  0.000054

In [11]:
# --- 2. Data Pre-processing ---

# Separate the inpute features (x) from the output target (y).
x = df[['k0', 'k1', 'damping', 'velocity']]
y = df['w_max']

In [22]:
# Split data into training + validation (85%) and testing (15%) sets.
x_train_val, x_test, y_train_val, y_test = train_test_split(x, y, test_size=0.15, random_state=42)

In [24]:
# Split the 85% block into training (70%) and validation (15%)
# The new test_size is 15/85 to get 15% of the original total data.
x_train, x_val, y_train, y_val = train_test_split(x_train_val, y_train_val, test_size=(0.15/0.85), random_state=42)

In [ ]:
len(x_train)

1700

In [ ]:
len(x_test)

300

In [25]:
# scale the input features
# We fit the scaler ONLY on the training data to prvent data leakage.
scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_val_scaled = scaler.transform(x_val)
x_test_scaled = scaler.transform(x_test)

In [26]:
print(F"\nData split complete (70/15/15).")
print(F"Total samples: {len(df)}")
print(F"Training samples: {len(x_train)}")
print(F"Validation samples: {len(x_val)}")
print(F"Testing samples: {len(x_test)}")

Data split complete (70/15/15).
Total samples: 2000
Training samples: 1400
Validation samples: 300
Testing samples: 300

In [ ]:
# --- 3. Build the Neural Network Model ---
print("\nBuilding the Neural Network Model...")

Building the Neural Network Model...